
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  color: white;
}
.App {
  text-align: center;
  height: 100%;
  background-color: #121212;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.btn {
  font-size: 15px;
  color: #eb1607;
  margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
  background-image: url("./giphy.gif")
  
}

.btn:hover {
  cursor: pointer;
  color: #3709db;
  background-color: #d67842;
  border-radius: 10px;
}

.nomes {
  color: rgb(53, 230, 8);
  font-size: 20px;
}

.legenda {
  font-size: 35px;
   color: #07d7fc;
}

.options {
  color: #eb1607;
  font-size: 25px;
}

.radio {
  margin: 10px;
  padding: 10px;
  font-size: 25px;
  color: #eb1818;
  cursor: pointer;
}

.acertos1 {
  color: #6eee19;
  font-size: 20px;
}
.resposta {
  margin: 10px 20px;
  font-weight: bolder;
  padding: 20px;

  & > .pergunta {
    font-size: 25px;
    margin-bottom: 8px;
    font-family: 'Oswald', sans-serif;
  }
}
.certa {
  border: #66df48 1px solid;
  border-radius: 5px;
}
.incorreta {
  border: #d1362a 1px solid;
  border-radius: 5px;
 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
