@charset "UTF-8";
/*para fazer dgrad em body mas configuraçao global (linear-gradient: to right)*/
/*fonte: serifadas / sans-serif / manoespaçadas / handwriting / display*/

{
font-family: Arial, Helvetica, sans-serif;

}
body{
    
    
    background-image: radial-gradient(circle, #c4d9db57, #65e3e6d5, #CFE3E6);
    background-attachment: fixed;
}

main {
    background-color: rgba(255, 255, 255, 0.411);
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.534);
}

h1{
color:  #255A61;
text-align: center;
text-shadow: 1px 1px 2px  #070707de;
}

h2{
    color: #124747;
    text-shadow: 1px 1px 2px  #070707b9;
}

p {
    text-align: justify;
   font-family: cursive;
}



b#testando{
   color: black;
}

