body{
  background-color: rgb(226, 9, 9);  
}
h1#marge {
    left: 560px;
    height: 0px;
    position: relative;
    top: -15pt;
}

menu#teste{
    left: 400px;
    height: 0px;
    position: relative;
    top: -90pt;

}

